<div>
<!-- Make bid section
================================================== -->
<section class="parallax-section" ng-app="" id="contact">
	<div class="container">
		<div class="row">

			<!-- Form section
			================================================== -->
      <div class="col-md-12 col-sm-12 wow fadeInDown">
        <h9 class="wow fadeInDown">CREATE YOUR BID</h9>
      </div> 
			<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="0.6s">
				<form [ngFormModel]="newBidForm" (ngSubmit)="save()">
					<div np-app="makebidform" class="col-md-12 col-sm-12">
                        
                        <div class="form-group">										
                            <input type="text" [(ngModel)]="bid.almondVariety" #almond_variety="ngForm" ngControl="almondVariety" class="form-control" placeholder="Choose Almond Variety" name="almond variety" id="almond variety" list="almonds"> 
                            <!-- TODO Change to Data Souce in Component -->
                            <datalist id="almonds">
                                <option>NONPAREIL</option>
                                <option>CARMEL</option>
                                <option>BUTTE</option>
                                <option>PADRE</option>
                                <option>MISSION</option>
                                <option>MONTEREY</option>
                                <option>SONORA</option>
                                <option>FRITZ</option>
                                <option>PRICE</option>
                                <option>PEERLESS</option>
                            </datalist>
                        </div>

                        <!-- ALMOND SIZE -->
                        <div class="form-group">	
                          <input [(ngModel)]="bid.almondSize" #almond_size="ngForm" ngControl="almondSize" type="text" step="0.01" class="form-control" placeholder="Almond Size" name="size" id="size">
                        </div>

                        <div class="form-group">										
                            <input [(ngModel)]="bid.pricePerPound" #price_per_pound="ngForm" ngControl="pricePerPound" type="number" step="0.01" class="form-control" placeholder="Price Per Pound" name="price" id="price">
                        </div>

                        <div class="form-group">										
                            <input [(ngModel)]="bid.almondPounds" #almond_pounds="ngForm" ngControl="almondPounds" type="number" class="form-control" placeholder="Pounds" name="pounds">
                        </div>

<!-- Payment Date section
================================================== -->
                          <h10>Payment Date From:<br/></h10>

                        <div class="form-group col-xs-5">
                          <input [(ngModel)]="bid.startPaymentMonth" #start_payment_month="ngForm" ngControl="startPaymentMonth" class="form-control1" type="text" placeholder="Month" name="start month" id="start month" list="months">
                          <datalist id="months">
                          	<option>January</option>
                          	<option>February</option>
                          	<option>March</option>
                          	<option>April</option>
                          	<option>May</option>
                          	<option>June</option>
                          	<option>July</option>
                          	<option>August</option>
                          	<option>September</option>
                          	<option>October</option>
                          	<option>November</option>
                          	<option>December</option>
                          </datalist> 
                        </div>

                        <div class="form-group">
                          <input [(ngModel)]="bid.startPaymentYear" #start_payment_year="ngForm" ngControl="startPaymentYear" class="form-control1" type="text" placeholder="Year" name="start year" id="start year" list="years">
                          <datalist id="years">
                          	<option>2016</option>
                          	<option>2017</option>
                          	<option>2018</option>
                          </datalist>
                        </div>

                          <h10>Payment Date To:<br/></h10>

                        <div class="form-group col-xs-5">
                          <input [(ngModel)]="bid.endPaymentMonth" #end_payment_month="ngForm" ngControl="endPaymentMonth" class="form-control1" type="text" placeholder="Month" name="end month" id="end month" list="months">
                          <datalist id="months">
                          	<option>January</option>
                          	<option>February</option>
                          	<option>March</option>
                          	<option>April</option>
                          	<option>May</option>
                          	<option>June</option>
                          	<option>July</option>
                          	<option>August</option>
                          	<option>September</option>
                          	<option>October</option>
                          	<option>November</option>
                          	<option>December</option>
                          </datalist> 
                        </div>

                        <div class="form-group">
                          <input [(ngModel)]="bid.endPaymentYear" #end_payment_year="ngForm" ngControl="endPaymentYear" class="form-control1" type="text" placeholder="Year" name="end year" id="end year" list="years">
                          <datalist id="years">
                          	<option>2016</option>
                          	<option>2017</option>
                          	<option>2018</option>
                          </datalist>
                        </div>
                        <div class="form-group">										
                            <h10>This is the number of minutes your growers will have to respond to your bid.</h10>
                            <input [(ngModel)]="bid.managementTypeDelay" #managementTypeDelay="ngForm" ngControl="delay" type="number" step="1" class="form-control" placeholder="Bid Duration (minutes)" name="delay" id="delay">
                        </div>
                        
                        <textarea [(ngModel)]="bid.comment" ngControl="comment" name="comment" rows="2" class="form-control" id="comment" placeholder="Comments" message="comment"></textarea>

            </div>
            <div [hidden]="!newBidForm.valid" style="padding-left:110px;">
              <input [disabled]="!newBidForm.valid"  name="submit" type="submit" class="form-control" id="submit" value="Complete Bid">
            </div>
				</form>
      </div>

			<!-- Choose your growers
			================================================== -->
			<div class="col-md-6 col-sm-6 wow fadeInUp" style="padding-top:55px;" data-wow-delay="0.9s">
				<div class="contact-detail">

				<h8>Choose Growers</h8><br>
					<!--<input ng-model="complete" id="myAutocomplete" type="text" style="width:400px;"/>-->
            <!-- TODO Change this to an imported component. -->
            <div *ngFor="let grower of growers; let i = index">
              <input type="checkbox" [(ngModel)]="grower.selected">
              <h7>{{ grower.firstName }} {{ grower.lastName }}</h7>
            </div>


				</div><br>
					<!--<div class="col-md-6 col-sm-6">-->
            <!-- <input name="submit" type="submit" class="form-control" id="submit" value="Complete Bid"> -->
					<!--</div>-->
					<div class="col-sm-12" style="padding-left:160px;">
						<input [routerLink]="['Home']" name="submit" type="cancel" id="submit" value="Cancel Bid">
					</div>
			</div>

		</div>
	</div>
</section>
</div>
