.details {
    float:right;
    width:70%
}

.spacetop {
    padding:50px 0px 0px 160px;
}

.commentbox {
    padding: 10px 0px 10px 0px;
}

h1 {
    font-size: 20px;
    color: #565656;
    text-shadow: none;
}

p {
	font-size: 16px;
	letter-spacing: 0.9px;
	line-height: 32px;
    color: #000000;
    cursor: pointer;
}

comment {
	font-size: 12px;
	letter-spacing: 0.9px;
	line-height: 20px;
    color: #000000;
}

.details {
    background-color:#efefef;
    width:75%;
    min-height: 600px;
    height:auto;
    padding-bottom:30px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.listbidbutton {
	width: 80%;
	height: 80px;
	font-size: 1em;
    color:#000000;
	text-align: left;
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #419ed2;
}

.closebidbutton {
    width:10%;
    height:25px;
	font-size: 0.7em;
    color:#000000;
    text-align:center;
    vertical-align: middle;
    background-color: white;
    border-radius:4px;
    border: 1px solid #Bf4f4f;
    float:right;
}

.right {
    margin: 25px 70px 0 0;
}

.center-responses {
	align-items: center;
	justify-content: center;
    margin-left:50px;
}

.accepted {
    background-color:rgba(61,184,55,0.30);
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding:5px;
    margin:5px;
}


.rejected {
    background-color:rgba(184,79,55,0.30);
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding:5px;
    margin:5px;
}

.pending {
    background-color:rgba(55,134,184,0.30);
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding:5px;
    margin:5px;
}

li {
    padding-left:10px;
}

.comment-back {
    background-color: #ffffff;
    border: 1px solid #979797;
    width: 80%;
    height: auto;
}

.comment-button {
    background-color: #ffffff;
    border: 1px solid #979797;
    height:auto;
    width: 70%;
}

/* HANDLER Table Styles 
------------------------------------- */

.table-border {
    border: 0.5px solid #959595;
    width: 90%;
}

th {
    border: 0.5px solid #959595;
    width:30%;
    height:auto;
    padding: 10px 0px 10px 10px;
    float: middle;
}

.table-lines {
    border:0.5px solid #959595;
    padding:15px;
}

.add-handlers {
    width:120%;
    height:40px;
	font-size: 0.7em;
    color:white;
    background-color: #419ed2;
    border-radius:4px;
    border: 0.1px solid #000000;
    letter-spacing: 3px;
}

.add-handlers span {
    left:0;
    background-color: #419ed2;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid  rgba(0,0,0,0.15);
}