<div class="details">

<div *ngIf="recievedSelectedBid">

    <div id="bid-info">

    <button class="right closebidbutton" *ngIf="recievedSelectedBid.currentlyOpen" (click)="closeTraderBid(recievedSelectedBid.bidId)">CLOSE BID</button>
    <h1 *ngIf="recievedSelectedBid.currentlyOpen" class="center spacetop"> BID #{{ recievedSelectedBid?.bidId }}</h1>
    <h1 *ngIf="!recievedSelectedBid.currentlyOpen" class="center spacetops"> BID #{{ recievedSelectedBid?.bidId }}</h1>

      <div class="wow fadeInDown center" data-wow-delay="0.6s">
			  <button type="button" class="listbidbutton center">
			  	<table id="buttonCols" style="width:100%">
				<tr>
			  		<td class="offerButton" style="width:180px;"><p>
              {{ recievedSelectedBid?.poundsRemaining | number }} of {{ recievedSelectedBid?.almondPounds | number }} <br> &nbsp; MT remaining</p></td>
			  		<td class="offerButton"><p>
              {{ recievedSelectedBid?.almondVariety }}</p></td>
            <td class="offerButton"><p>
              {{ recievedSelectedBid?.grade }}</p></td>
            <td class="offerButton"><p>
              {{ recievedSelectedBid?.almondSize }}</p></td>
			  		<td class="offerButton"><p>
              {{ recievedSelectedBid?.pricePerPound }}</p></td>
			  	</tr>
				</table>
			  	</button>
       </div>

        <div class="wow fadeInDown center commentbox" data-wow-delay="0.6s">

         <button type="button" class="comment-button center">
         <table>
           <tr>
             <td style="padding: 15px 20px 15px 20px;"><img src="assets/img/comment-icon.png"/></td>
             <td>
                <comment>
                  {{ recievedSelectedBid?.comment }}
                </comment>
             </td>
           </tr>
         </table>
         </button>

        </div>

        <h1 *ngIf="recievedSelectedBid.currentlyOpen" class="center" style="color:#419ED2">TIME REMAINING: {{ recievedSelectedBid?.countDownString }}</h1>
        <h1 *ngIf="!recievedSelectedBid.currentlyOpen" class="center" style="color:#419ED2">DATE CLOSED: {{ recievedSelectedBid?.countDownString }}</h1>


    <div class="center-responses" id="handler-responses">

      <table class="table-border" cellpadding="4">
          <tr>
            <td><p class="handler-title">HANDLERS</p></td>
            <td style="float:right; padding:15px 15px 0px 0px;"><button (click)="toggleAddHandlersDiv()" type="button" class="add-handlers"><span>&#43;</span>ADD HANDLERS</button></td>
          </tr>

            <div *ngIf="addHandlersDivToggle">
              <div class="back-box" style="padding-bottom:20px;">
                <div *ngFor="let handler of notAddedHandlerSellers" >
                  <input type="checkbox" [(ngModel)]="handler.selected">
                    <label>{{ handler.firstName }} {{ handler.lastName }}</label>
                </div>
                <div class="center" style="margin-top:15px">
                <button class="send-handlers-button" (click)="addHandlers()">SEND TO CHECKED HANDLERS</button>
                </div>
              </div>
            </div>

          <tr *ngIf="recievedSelectedBid.pendingHandlerSellers.length > 0">
            <th rowspan="recievedSelectedBid.pendingHandlerSellers.length"><p class="pending-handler center">PENDING</p></th>
            <td class="table-lines" *ngFor="let handler of recievedSelectedBid.pendingHandlerSellers">
            <p (click)="viewHandler(handler.handlerId)"> {{handler.companyName}}</p>
            <p style="padding:0 20px 0 30px">{{recievedSelectedBid?.getBidResponse(recievedSelectedBid, handler.handlerId)?.poundsAccepted | number}} MT accepted</p>
              <div class="separate">
              <button type="button" class="accept-button"
              (click)="approve(handler,(recievedSelectedBid?.getBidResponse(recievedSelectedBid, handler.handlerId)?.poundsAccepted))">APPROVE</button>
              </div>
              <div class="separate">
              <button type="button" class="reject-button"
              (click)="disapprove(handler,(recievedSelectedBid?.getBidResponse(recievedSelectedBid, handler.handlerId)?.poundsAccepted))">DISAPPROVE</button>
              </div>
            </td>
          </tr>

          <tr *ngIf="recievedSelectedBid.acceptedHandlerSellers.length > 0">
            <th rowspan="recievedSelectedBid.acceptedHandlerSellers.length"><p class="accepted-handler center">ACCEPTED</p></th>
            <td class="table-lines" *ngFor="let handler of recievedSelectedBid.acceptedHandlerSellers">
            <p (click)="viewHandler(handler.handlerId)"> {{handler.companyName}}</p>
            <p style="padding-left:50px">{{recievedSelectedBid?.getBidResponse(recievedSelectedBid, handler.handlerId)?.poundsAccepted | number}} MT accepted</p></td>
          </tr>

          <tr *ngIf="recievedSelectedBid.disapprovedHandlerSellers.length > 0">
            <th rowspan="recievedSelectedBid.disapprovedHandlerSellers.length"><p class="disapproved-handler center">DISAPPROVED</p></th>
            <td class="table-lines" *ngFor="let handler of recievedSelectedBid.disapprovedHandlerSellers">
            <p (click)="viewHandler(handler.handlerId)"> {{handler.companyName}}</p>
            <p style="padding-left:50px">{{recievedSelectedBid?.getBidResponse(recievedSelectedBid, handler.handlerId)?.poundsAccepted | number}} MT  disapproved</p></td>
          </tr>

          <tr *ngIf="recievedSelectedBid.rejectedHandlerSellers.length > 0">
            <th rowspan="recievedSelectedBid.rejectedHandlerSellers.length"><p class="rejected-handler center">REJECTED</p></th>
            <td class="table-lines" *ngFor="let handler of recievedSelectedBid.rejectedHandlerSellers">
            <p (click)="viewHandler(handler.handlerId)"> {{handler.companyName}}</p></td>
          </tr>

          <tr *ngIf="recievedSelectedBid.noResponseHandlerSellers.length > 0">
            <th rowspan="recievedSelectedBid.noResponseHandlerSellers.length"><p class="no-response-handler center">NO RESPONSE</p></th>
            <td class="table-lines" *ngFor="let handler of recievedSelectedBid.noResponseHandlerSellers">
              <p (click)="viewHandler(handler.handlerId)">{{handler?.companyName}}</p>
              <input *ngIf="recievedSelectedBid?.currentlyOpen" type="number" min="0" class="number" placeholder="MT" [(ngModel)]="handler.amountManual">
              <div class="separate">
              <button *ngIf="recievedSelectedBid?.currentlyOpen" type="button" class="accept-partial"
              [disabled]="!(handler.amountManual > 0)"
              (click)="acceptBid(handler, handler.amountManual)">ACCEPT PARTIAL</button>
              </div>
              <div class="separate">
              <button *ngIf="recievedSelectedBid?.currentlyOpen" type="button" class="accept-button"
              (click)="acceptBid(handler, recievedSelectedBid.poundsRemaining)">ACCEPT REMAINING</button>
              </div>
              <div class="separate">
              <button *ngIf="recievedSelectedBid?.currentlyOpen" type="button" class="reject-button"
              (click)="rejectBid(handler)">REJECT</button>
              </div>
            </td>
          </tr>
        </table>

  </div>
</div>
</div>
</div>