.details {
    float:right;
    width:70%
}

.spacetop {
    padding-top:50px;
}

.commentbox {
    padding: 10px 0px 10px 0px;
}

h1 {
    font-size: 20px;
    color: #565656;
    text-shadow: none;
}

p {
	font-size: 16px;
	letter-spacing: 0.9px;
	line-height: 32px;
    color: #000000;
}

comment {
	font-size: 12px;
	letter-spacing: 0.9px;
	line-height: 20px;
    color: #000000;
}

.details {
    background-color:#efefef;
    width:75%;
    height:100%;
    padding-bottom:30px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.listbidbutton {
	width: 80%;
	height: 80px;
	font-size: 1em;
    color:#000000;
	text-align: left;
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #419ed2;
}

.center-responses {
	align-items: center;
	justify-content: center;
    margin-left:50px;
}

.accepted {
    background-color:rgba(61,184,55,0.30);
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding:5px;
    margin:5px;
}


.rejected {
    background-color:rgba(184,79,55,0.30);
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding:5px;
    margin:5px;
}

.pending {
    background-color:rgba(55,134,184,0.30);
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding:5px;
    margin:5px;
}

li {
    padding-left:10px;
}

.comment-back {
    background-color: #ffffff;
    border: 1px solid #979797;
    width: 80%;
    height: auto;
}

.comment-button {
    background-color: #ffffff;
    border: 1px solid #979797;
    height:auto;
    width: 70%;
}

