body {
  background-image:url("assets/img/viewbidpic.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  width:100%;
  height:100%;
  background-size:cover;
}

footer {
  padding-top:80px;
  background-color:white;
  background-size:100% 100%;
}

.accepted {
  background-color: #2eb82e;
}

.rejected {
  background-color: #b30000;
}

.partial {
  background-color: #e6e600;
}
