body {
  background-image:url("assets/img/viewbidpic.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  width:100%;
  height:100%;
  background-size:cover;
}

footer {
  padding-top:80px;
  background-color:white;
  background-size:100% 100%;
}

.accepted {
  background-color: #acc5ae;
  opacity: 0.3;
}

.rejected {
  background-color: #993333;
  opacity: 0.3; 
}

.partial {
  background-color: #fff385;
  opacity: 0.3;
}
