<div>

  <section class="parallax-section" id="contact">
	<div class="container center">

      <form (ngSubmit)="save()" #handlerSellerForm="ngForm">
        <title class="wow fadeInDown center">NEW HANDLER</title>

        <div np-app="form" class="col-md-12 col-sm-12">

        <p class="center"> First Name </p>
        <div class="form-group center">
          <input type="text" class="form-control center" required
              [(ngModel)]="handlerSeller.firstName"
              ngControl="firstName"
              autocomplete="off"
              name="first name"
              placeholder="John">
        </div>

        <p class="center"> Last Name </p>
        <div class="form-group center">

          <input type="text" class="form-control" required
              [(ngModel)]="handlerSeller.lastName"
              ngControl="lastName"
              autocomplete="off"
              name="last name"
              placeholder="Smith">
        </div>

        <p class="center"> Company Name </p>
        <div class="form-group center">

          <input type="text" class="form-control" required
              [(ngModel)]="handlerSeller.companyName"
              ngControl="companyName"
              autocomplete="off"
              name="company name"
              placeholder="Example Company">
        </div>

        <p class="center"> Email </p>
        <div class="form-group center">
          <input type="email" class="form-control" required
              [(ngModel)]="handlerSeller.email"
              ngControl="email"
              autocomplete="off"
              name="email"
              placeholder="example@example.com"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>

        <p class="center">Phone Number</p>
        <p><small>Please enter the handler's cell phone, this will be
            used to send <u>text messages</u>.</small></p>

        <div class="form-group center">

          <input type="text" class="form-control" required
              [(ngModel)]="handlerSeller.phone.phoneOne"
              ngControl="phoneOne"
              autocomplete="off"
              maxlength="3"
              name="phone one" pattern="\d{3}"
              placeholder="(555)">

          <input type="text" class="form-control" required
              [(ngModel)]="handlerSeller.phone.phoneTwo"
              ngControl="phoneTwo"
              autocomplete="off"
              maxlength="3"
              name="phone two" pattern="\d{3}"
              placeholder="(555)">

          <input type="text" class="form-control" required
              [(ngModel)]="handlerSeller.phone.phoneThree"
              ngControl="phoneThree"
              autocomplete="off"
              maxlength="4"
              name="phone three" pattern="\d{4}"
              placeholder="(5555)">

        </div>

        <div class="center">
        <button type="submit"
                [disabled]="!handlerSellerForm.form.valid">
                ADD HANDLER
                </button>
        </div>

        </div>

      </form>
</div>
</section>
	</div>
