<div>
<section id="contact">
    <title class="center spaceunder">CREATE YOUR BID SHEET</title>

    <div class="container">

    <form *ngIf="active" (ngSubmit)="addBid()" #traderBidForm="ngForm">

    <div class="col-sm-10 wow fadeInDown" data-wow-delay="0.6s">

        <div class="form-group">

          <select type="text" class="form-control" required
            [(ngModel)]="traderBid.almondVariety"
            ngControl="variety"
            name="variety"
            placeholder="Select Almond Variety"
            list="almonds">
                <option *ngFor="let variety of varieties"
                    [value]="variety"> {{ variety }}
                </option>
          </select>

          <select type="text" class="form-control" required
            [(ngModel)]="traderBid.almondSize"
            ngControl="size"
            name="size"
            placeholder="Select Size"
            list="size">
                <option *ngFor="let size of sizes"
                    [value]="size"> {{ size }}
                </option>
          </select>

          <input type="text" class="form-control" required
              [(ngModel)]="traderBid.pricePerPound"
              ngControl="pricePerPound"
              name="price"
              placeholder="Type Price per Pound">

          <input type="number" step="1" min="0" class="form-control" required
              [(ngModel)]="traderBid.almondPounds"
              ngControl="almondPounds"
              name="pounds"
              placeholder="Amount in Metric Tons">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" required
              [(ngModel)]="traderBid.comment"
              ngControl="comment"
              name="comment"
              placeholder="Type any Comments (example: quality level, payment terms, shipping instructions, etc.)"
              style="width:870px;">
        </div>

    </div>

		<div class="col-sm-2">
            <button [disabled]="!traderBidForm.form.valid"
                    style="border:none; background:none; padding:none;"
                    type="button"
                    class="spaceover"
                    (click)="addBid()">
             <div class="cssCircle plusSign">
			  &#43;
			    </div></button>
            </div>

    </form>

<div class="col-md-12 centerbuttons">

			  <div *ngFor="let bid of traderBids"
                    class="wow fadeInDown spaceunder"
                    data-wow-delay="0.3s">
			  <button
                type="button" class="listbidbutton"
                (click)="removeBid(index)">
			  	<table id="buttonCols">
				<tr>
			  		<td class="offerButton">
                          <p>{{ bid?.almondVariety }}</p></td>
			  		<td class="offerButton">
                          <p>{{ bid?.almondSize }}</p></td>
			  		<td class="offerButton">
                          <p>${{ bid?.pricePerPound }}</p></td>
			  		<td class="offerButton">
                          <p>{{ bid?.almondPounds }} MT</p></td>
			  		<td class="offerButton">
                          <p>{{ bid?.comment }}</p></td>
			  	</tr>
				</table>
			  </button>
			 </div>
</div>

<div class="col-md-12 col-sm-12 wow fadeInDown center" data-wow-delay="0.6s">
        <div class="form-group spaceover">
          <input type="number" step="1" min="1" class="form-control" required
              [(ngModel)]="delay"
              ngControl="delay"
              name="delay"
              placeholder="Type Duration (in hours)">
        </div>
</div>



<!-- Choose your growers
			================================================== -->

			<div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.9s">
				<title class="center">CHOOSE HANDLERS</title><br>
			</div>

			<div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
				<div class="whitebox">
					<p *ngFor="let handler of handlerSellers">
    					<input type="checkbox" [(ngModel)]="handler.selected">
    					<label>{{ handler.firstName }} {{ handler.lastName }}</label>
  					</p>
  				</div>
			</div>

            <div class="col-md-6 col-sm-6 moveselect">
                <input
                    (click)="selectAllHandlerSellers()"
                    type="button" class="form-control"
                    value="Select All">
            </div>

      <div class="col-md-12 col-sm-12 center">
					<input
            [disabled]="!delay"
            (click)="sendBids()"
            name="submit" type="submit"
            class="form-control" id="submit"
            value="SEND BID">
				</div>
    </div>
</section>
</div>