  <div>

    <h1>Bids So Far</h1> 

      <div>
        <div *ngFor="let bid of traderBids">
        <button id="remove-bid" (click)="removeBid(index)"> Remove Bid </button>
        <table>
           <tr>
              <td>{{ bid?.almondVariety }}</td>
              <td>{{ bid?.almondPounds }}</td>
              <td>{{ bid?.almondSize }} </td>
              <td>{{ bid?.pricePerPound }}</td> 
              <td>{{ bid?.comment }}</td>
              <td>{{ bid?.delay }}</td>
            </tr>
          </table>
        </div>
      </div>

    <h1>Bid Form</h1>
      
      <form *ngIf="active" (ngSubmit)="addBid()" #traderBidForm="ngForm">
        
        <div class="form-group">
          <label for="variety"> Variety </label>
          <select class="form-control" required
              [(ngModel)]="traderBid.almondVariety"
              ngControl="variety"
              name="variety">
            <option *ngFor="let variety of varieties" 
                [value]="variety"> {{variety}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="size"> Size </label>
          <select class="form-control" required
              [(ngModel)]="traderBid.almondSize"
              ngControl="size"
              name="size">
            <option *ngFor="let size of sizes" 
                [value]="size"> {{size}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="price"> Price Per Pound </label>
          <input type="text" class="form-control" required
              [(ngModel)]="traderBid.pricePerPound"
              ngControl="pricePerPound"
              name="price">
        </div>

        <div class="form-group">
          <label for="pounds"> Pounds </label>
          <input type="number" step="0.01" class="form-control" required
              [(ngModel)]="traderBid.almondPounds"
              ngControl="almondPounds"
              name="pounds">
        </div>

        <div class="form-group">
          <label for="comment"> Comment </label>
          <input type="text" class="form-control"
              [(ngModel)]="traderBid.comment"
              ngControl="comment"
              name="comment">
        </div>

        <button type="submit" [disabled]="!traderBidForm.form.valid"> ADD BID </button>

      </form>

    <h1> Select Handlers </h1>

      <div *ngFor="let handler of handlerSellers">
        <input type="checkbox" [(ngModel)]="handler.selected">
        <h7>{{ handler.firstName }} {{ handler.lastName }}</h7>
      </div>

      <button (click)="selectAllHandlerSellers()"> Select All </button>

    <h1> Set Delay For All Bids </h1>

        <div class="form-group">
          <label for="delay"> Delay: In Hours </label>
          <input type="number" step="1" class="form-control" required
              [(ngModel)]="delay"
              ngControl="delay"
              name="delay">
        </div>

    <h1> Send Bids </h1>

      <button [disabled]="!delay" (click)="sendBids()"> SEND BIDS </button> 

  </div>
