<div>
<!-- Make bid section
================================================== -->
<section class="parallax-section" ng-app="" id="contact">
	<div class="container">
		<div class="row">

			<!-- Form section
			================================================== -->
			<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="0.6s">
				<form [ngFormModel]="newBidForm" (ngSubmit)="save()">
					<h9 class="wow fadeInDown">CREATE YOUR BID</h9>

					<div np-app="makebidform" class="col-md-12 col-sm-12">
                        
                        <div class="form-group">										
                            <input type="text" [(ngModel)]="bid.almondVariety" #almond_variety="ngForm" ngControl="almondVariety" class="form-control" placeholder="Choose Almond Variety" name="almond variety" id="almond variety" list="almonds"> 
                            <!-- TODO Change to Data Souce in Component -->
                            <datalist id="almonds">
                                <option>NONPAREIL</option>
                                <option>CARMEL</option>
                                <option>BUTTE</option>
                                <option>PADRE</option>
                                <option>MISSION</option>
                                <option>MONTEREY</option>
                                <option>SONORA</option>
                                <option>FRITZ</option>
                                <option>PRICE</option>
                                <option>PEERLESS</option>
                            </datalist>
                        </div>

                        <div class="form-group">										
                            <input [(ngModel)]="bid.pricePerPound" #price_per_pound="ngForm" ngControl="pricePerPound" type="number" class="form-control" placeholder="Price Per Pound" name="price" id="price">
                        </div>

					<div class="form-group">										
                        <input [(ngModel)]="bid.almondPounds" #almond_pounds="ngForm" ngControl="almondPounds" type="number" class="form-control" placeholder="Pounds" name="pounds">
                    </div>
                        <div class="ui-widget">
						<input id="tags" size="50" class="form-control" placeholder="Size" name="size">
						</div>

                        <textarea [(ngModel)]="bid.comment" ngControl="comment" name="comment" rows="2" class="form-control" id="comment" placeholder="Comments" message="comment"></textarea>

					</div>
						<input name="submit" type="submit" class="form-control" id="submit" value="Complete Bid">
				</form>
			</div>

			<!-- Choose your growers
			================================================== -->
			<div class="col-md-6 col-sm-6 wow fadeInUp" style="padding-top:55px;" data-wow-delay="0.9s">
				<div class="contact-detail">

				<h8>Choose Growers</h8><br>
					<!--<input ng-model="complete" id="myAutocomplete" type="text" style="width:400px;"/>-->
            <!-- TODO Change this to an imported component. -->
            <div *ngFor="let grower of growers; let i = index">
              <input type="checkbox" [(ngModel)]="grower.selected">
              <h7>{{ grower.first_name }} {{ grower.last_name }}</h7>
            </div>


				</div><br>
					<div class="col-md-6 col-sm-6">
            <!-- <input name="submit" type="submit" class="form-control" id="submit" value="Complete Bid"> -->
					</div>
					<div class="col-md-6 col-sm-6">
						<input [routerLink]="['Home']" name="cancel" type="submit" class="form-control" id="submit" value="Cancel Bid">
					</div>
			</div>

		</div>
	</div>
</section>
</div>
