<body>
<!-- Bids section
================================================== -->

<div style="position:relative;">
	<div class="container" style="padding-top:70px;">
	<h2 style="color:white;"><font size="+3"></font>
		<div class="wow fadeInUp" data-wow-delay="0.3s">
			<button type="button" class="btn btn-info" id="createBid" 
			[routerLink]="['Make Bid']"><b>Create New Bid</b></button>
		</div>
		Current Bids
	</h2>
	  <div class="wow fadeInDown" data-wow-delay="0.3s">
	  <button style="width:90%; height:100px; font-size:2.5em; text-align:left; padding-left: 50px;" type="button" class="btn btn-info" data-toggle="collapse" data-target="#group1">
	  	<table id="buttonCols" style="width:100%">
		<tr *ngFor="let bid of bids">
	  		<td class="offerButton">{{ bid.almondVariety }}</td>
	  		<td class="offerButton">23/25</td>
	  		<td class="offerButton">{{ bid.almondPounds }}</td>
	  		<td class="offerButton">{{ bid.pricePerPound }}</td> 
	  		<td class="offerButton">{{ bid.paymentDate }}</td>
	  	</tr>
		</table>
	  	</button>
	  	</div>
	  
	  <!--<div id="group1" class="collapse">
	    <ul style="list-style:none; padding-top:10px;">
	    	<li>
	    	<div class="container" style="padding-bottom:10px;">
	    	<button id="buttonA" type="button" class="btn btn-info" [routerLink]="['Profile', { id:user.growers }]">
	    		<table id="buttonCols" style="width:100%"><tr *ngFor="let user of users">
	    			<td class="pic"><input type="image" id="myimage" src="images/farmer3.jpg"/></td>
	    			<td class="name"><strong>{{ user.first_name }} {{ user.last_name }}</strong></td>
	    			<td class="state"><strong>Accepted</strong></td></tr>
	    		</table>
	    	</button>
	    	</div>
	    	</li>

	    </ul>
	  </div>-->

	</div>

	</div>

</body>