table {
  width:100%;
  background-color:#5b5b5b;
  border-top:1px solid #ffffff;
}

td {
  vertical-align:top;
  padding:5px;
  background-color: #5b5b5b;
  border-right:none;
  border-left:none;
}

tr {
    padding: 3px 0px 3px 0px;
    cursor: pointer;
}

h1 {
    color: #ffffff;
    letter-spacing: 1px;
    font: 20px Gotham Bold, sans-serif;

}

h2 {
    font-size: 20px;
    color: #1f1f1f;
    font: 20px Gotham Bold, sans-serif;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

p1 {
    font-size: 12px;
    color: white;
}

p2 {
    font-size: 12px;
    color:#1f1f1f;
    letter-spacing: 0.9px;
    line-height: 32px;
}

.spacetop {
    padding-top:50px;
}

.sidebar-color {
    background-color:#5b5b5b;
    height:100%;
    padding:none;
}

button {
        color: #419ed2;
		width: 90%;
		position: center;
		padding-left: 10px;
		border-color: #000000;
		border-style: none;
		border-width: 10px;
		font-weight: bold;
		letter-spacing: 1px;
		&:hover {
			background: #757575;
		}
}

/* add bid symbol
/* ========================================== */
.cssCircle {
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	width: 30px;
	height: 30px;
	padding: 0px;
	background: rgba(41,195,43,0.8);
	color: #ffffff;
	text-align: center;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	transition: color 0.2s linear;
	font: 60px Gotham Book, sans-serif;
	&:hover {
		background: #29c32b;
		cursor: pointer;
		float: left;
	}
}
.plusSign {
	line-height: 1.1em;
    font-size:30px;
	border-style: none;
	&:hover {
		color: white;
	}
}
.listbidbutton {
	width: 900px;
	height: 90px;
	font-size: 10px;
	text-align: left;
	padding-left: 50px;
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #419ed2;
	float: left;
}
.spaceover {
	padding-top: 20px;
}

.lineup {
    display:inline;
}