  
  <div id="create-bid">
    
    <!-- Currently we don't have a make traderBid button, so this doesn't
         link to anything. --> 
    <button type="button" id="create-bid-button">
      Create New Bid
    </button>

  </div>
  
  <div class="sidebar-color col-md-3">
      
    <div class="lineup">

      <h1 class="spacetop center"> HANDLERS 
        
        <button [routerLink]="['New Handler Seller']" style="border:none; background:none; padding:none;" type="button">
          <div class="cssCircle plusSign">
			      &#43;
			    </div>
        </button>

      </h1>

    </div>

  <div id="handler-list">
    <div *ngFor="let handler of recievedHandlerSellers">
        <table>
        <div class="hover center">
        <tbody>
         <tr (click)="selectHandler(handler)">
            <!--<td><p1>{{ handler?.firstName }}</td>
            <td><p1>{{ handler?.lastName }}</td>
            <td><p1>{{ handler?.email }}</td> 
            <td><p1>{{ handler?.phone.getAsString() }}</td>-->
            <td><p1 class="center">{{ handler?.companyName}}</p1></td>
          </tr>
        </tbody>
        </div>
        </table>
    </div>
  </div>
  </div>
