  <div id="create-handler">
    
    <!-- Currently we don't have a make traderBid button, so this doesn't
         link to anything. --> 
    <button type="button" id="create-bid-button">
      Create New Handler
    </button>

  </div>

  <div class="sidebar-color col-md-3">
      <h1 class="spacetop center"> HANDLERS </h1>

      <button style="border:none; background:none; padding:none;" type="button">
        <div class="cssCircle plusSign">
			  &#43;
			</div>
      </button>

  <div id="handler-list">
    <div *ngFor="let handler of recievedHandlerSellers">
        <table>
        <tbody>
         <tr (click)="selectHandler(handler)">
            <!--<td><p1>{{ handler?.firstName }}</td>
            <td><p1>{{ handler?.lastName }}</td>
            <td><p1>{{ handler?.email }}</td> 
            <td><p1>{{ handler?.phone.getAsString() }}</td>-->
            <td><p1>{{ handler?.companyName}}</p1></td>
          </tr>
        </tbody>
        </table>
    </div>
  </div>