#contact .ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
  color: black;
}
#contact .ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.posts li { cursor: default; }
.posts li:hover { background: #ecf0f1; }
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #ecf0f1;
  border-color: #ecf0f1;
  color: #2c3e50;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#contact .form-control {
	background-color:#ffffff;
  color: #444444;
  width: 35%;
	border-top-color: #959595;
	border-bottom-color: #959595;
	border-right-color: #959595;
  margin-right: 10px;
  font-size:12.5px;
}

.form-control {
	&::-moz-placeholder {
		color: #959595;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #959595;
	}
	&::-webkit-input-placeholder {
		color: #959595;
	}
}

#contact select[type="text"] {
  padding:10px;
  height:42px;
  width:180px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  color: #959595;
  }

#contact .contact-detail {
	background:white;
	color:black;
  }

#contact .contact-detail {
	background:white;
	color:black;
  }

button {
  background: #000000;
  color:#ffffff;
  position: center;
  padding-left: 10px;
  border:none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  width: 300px;
  margin-top: 5px;
  &:hover {
    background: #ffa400;
  }
}

.hover-red {
  &:hover {
    background: #a70000;
  }
}

	select[type="text"] {
		padding:10px;
		height:42px;
    border:0;
		font-size:13px;
		outline:1px solid #959595;
		-webkit-appearance: none;
}

  .center {
    justify-content: center;
    align-content: center;
    display: flex;
  }

  label {
    color:#444444;
  }

  .grower-box {
    width: 50%;
    min-height: 200px;
    max-height: 2000px;
    border:1px solid #ffa400;
    background-color: white;
    margin-bottom: 20px;
    padding:30px;
  }

  .center-growers {
    align-content: center;
    justify-content:center;
    padding-top:20px;
    margin: 15px;
  }
