<div>
<!-- Make bid section
================================================== -->
<section class="parallax-section" ng-app="" id="contact">
	<div class="container">
		<div class="row">

			<!-- Form section
			================================================== -->
      <div class="col-md-12 col-sm-12 wow fadeInDown">
        <h9 class="wow fadeInDown">CREATE YOUR BID</h9>
      </div> 
			<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="0.6s">
				<form #newBidForm="ngForm" (ngSubmit)="save()">
					<div class="col-md-12 col-sm-12">
                        
                        <div class="form-group">
                            <label style="color:white" for="variety"> Variety </label>	
                            <select type="text" [(ngModel)]="bid.almondVariety" ngControl="almondVariety" class="form-control" name="almond variety" id="almond variety" required> 
                                <option *ngFor="let variety of varieties" 
                                    [value]="variety"> {{variety}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group" style="width:80%; float:left;">	
                            <label style="color:white" for="size"> Size </label>                           
                            <select [(ngModel)]="bid.almondSize" ngControl="almondSize" type="text" class="form-control" name="size" id="size" required>
                               <option *ngFor="let size of sizes" 
                                    [value]="size"> {{size}}
                                </option>
                             </select>
                        </div>

                        <div id="aol-checkbox" style="width:20%; float:right; color:white; vertical-align:middle; padding:15px 0 0 15px;">
                          <input type="checkbox" [(ngModel)]="aol" autocomplete="off" name="aol">
                          AOL
                        </div>

                        <div class="form-group">		
                            <label style="color:white" for="price"> Price Per Pound </label>								
                            <input [(ngModel)]="bid.pricePerPound" ngControl="pricePerPound" type="number" step="0.01" class="form-control" name="price" id="price" autocomplete="off" required>
                        </div>

                        <div class="form-group">
                            <label style="color:white" for="pounds"> Pounds </label>										
                            <input [(ngModel)]="bid.almondPounds" ngControl="almondPounds" type="number" class="form-control" name="pounds" autocomplete="off" required>
                        </div>
                         
                        <div class="form-group">										
                            <h10>This is the number of minutes your growers will have to respond to your bid.</h10>
                            <label style="color:white" for="delay"> Delay </label>
                            <input [(ngModel)]="bid.managementTypeDelay" ngControl="delay" type="number" step="1" class="form-control" name="delay" id="delay" autocomplete="off" required>
                        </div>

                        <div class="form-group">  
                            <label style="color:white" for="comment"> Comment </label>                                      
                            <input [(ngModel)]="bid.comment" ngControl="comment" type="text" class="form-control" name="comment" id="comment" autocomplete="off">
                        </div>

            </div>
            <div style="padding-left:110px;">
              <button [disabled]="!newBidForm.valid"  name="submit" type="submit" id="submit" style="padding-bottom:0px; margin-bottom:0px;"> Submit Bid </button>
              <div style="background-color:#993333; color:white; text-align:center; width:300px;" *ngIf="!newBidForm.form.valid">   
                You must fill out all fields before you can complete your bid!
              </div>
            </div>
				</form>
      </div>

			<!-- Choose your growers
			================================================== -->
			<div class="col-md-6 col-sm-6 wow fadeInUp" style="padding-top:55px;" data-wow-delay="0.9s">
				<div class="contact-detail">

				<h8>Choose Growers</h8><br>
					<!--<input ng-model="complete" id="myAutocomplete" type="text" style="width:400px;"/>-->
            <!-- TODO Change this to an imported component. -->
            <div *ngFor="let grower of growers">
              <input type="checkbox" [(ngModel)]="grower.selected">
              <h7>{{ grower.firstName }} {{ grower.lastName }}</h7>
            </div>


				</div><br>
					<!--<div class="col-md-6 col-sm-6">-->
            <!-- <input name="submit" type="submit" class="form-control" id="submit" value="Complete Bid"> -->
					<!--</div>-->
					<div class="col-sm-12" style="padding-left:160px;">
						<input [routerLink]="['Handler Home']" name="submit" type="cancel" id="submit" value="Cancel Bid">
					</div>
			</div>

       </div>
	</div>
</section>
</div>
