<div>
<!-- Make bid section
================================================== -->
<section id="contact">
	<div class="container">
		<div class="row">

			<!-- Form section
			================================================== -->
      <div class="col-md-12 col-sm-12 wow fadeInDown">
        <h9 class="wow fadeInDown center">CREATE YOUR BID</h9>
      </div>
				<form #newBidForm="ngForm">
					<div class="col-md-12 col-sm-12">

                        <div class="form-group center">

                            <input [(ngModel)]="bid.almondPounds"
                                    ngControl="almondPounds" type="number"
                                    class="form-control" name="pounds"
                                    placeholder="Pounds"
                                    autocomplete="off" required
                                    pattern="[0-9]{1,9}">

                            <select type="text"
                                    [(ngModel)]="bid.almondVariety"
                                    ngControl="almondVariety" class="form-control"
                                    name="almond variety" id="almond variety"
                                    placeholder="Select Almond Variety"
                                    style="width:35%;" required>
                                <option [value]="almondVariety" disabled selected hidden>Select Almond Variety</option>
                                <option
                                    [value]="NONPAREIL"> NONPAREIL-TYPE
                                </option>
                                <option
                                    [value]="NP_NONPAREIL"> &nbsp; &nbsp; NONPAREIL
                                </option>
                                <option
                                    [value]="NP_INDEPENDENCE"> &nbsp; &nbsp; INDEPENDENCE
                                </option>
                                <option
                                    [value]="NP_SONORA"> &nbsp; &nbsp; SONORA
                                </option>
                                <option
                                    [value]="CARMEL_TYPE"> CARMEL-TYPE
                                </option>
                                <option
                                    [value]="CR_ALDRICH"> &nbsp; &nbsp; ALDRICH
                                </option>
                                <option
                                    [value]="CR_AVALON"> &nbsp; &nbsp; AVALON
                                </option>
                                <option
                                    [value]="CR_CARMEL"> &nbsp; &nbsp; CARMEL
                                </option>
                                <option
                                    [value]="CR_LIVINGSTON"> &nbsp; &nbsp; LIVINGSTON
                                </option>
                                <option
                                    [value]="CR_MONTEREY"> &nbsp; &nbsp; MONTEREY
                                </option>
                                <option
                                    [value]="CR_PRICE"> &nbsp; &nbsp; PRICE
                                </option>
                                <option
                                    [value]="CR_WOOD_COLONY"> &nbsp; &nbsp; WOOD COLONY
                                </option>
                                <option
                                    [value]="MISSION_TYPE"> MISSION-TYPE
                                </option>
                                <option
                                    [value]="MI_BUTTE"> &nbsp; &nbsp; BUTTE
                                </option>
                                <option
                                    [value]="MI_BUTTE_PADRE"> &nbsp; &nbsp; BUTTE/PADRE
                                </option>
                                <option
                                    [value]="MI_FRITZ"> &nbsp; &nbsp; FRITZ
                                </option>
                                <option
                                    [value]="MI_MARCONA"> &nbsp; &nbsp; MARCONA
                                </option>
                                <option
                                    [value]="MI_MISSION"> &nbsp; &nbsp; MISSION
                                </option>
                                <option
                                    [value]="MI_PADRE"> &nbsp; &nbsp; PADRE
                                </option>
                                <option
                                    [value]="MI_RUBY"> &nbsp; &nbsp; RUBY
                                </option>
                                <option
                                    [value]="CALIFORNIA_TYPE"> CALIFORNIA-TYPE
                                </option>
                                <option
                                    [value]="CA_ALDRICH"> &nbsp; &nbsp; ALDRICH
                                </option>
                                <option
                                    [value]="CA_AVALON"> &nbsp; &nbsp; AVALON
                                </option>
                                <option
                                    [value]="CA_BLUE_GUM"> &nbsp; &nbsp; BLUE GUM
                                </option>
                                <option
                                    [value]="CA_BUTTE"> &nbsp; &nbsp; BUTTE
                                </option>
                                <option
                                    [value]="CA_BUTTE/PADRE"> &nbsp; &nbsp; BUTTE/PADRE
                                </option>
                                <option
                                    [value]="CA_CAPITOLA"> &nbsp; &nbsp; CAPITOLA
                                </option>
                                <option
                                    [value]="CA_CARMEL"> &nbsp; &nbsp; CARMEL
                                </option>
                                <option
                                    [value]="CA_CROCKER"> &nbsp; &nbsp; CROCKER
                                </option>
                                <option
                                    [value]="CA_FRITZ"> &nbsp; &nbsp; FRITZ
                                </option>
                                <option
                                    [value]="CA_INDEPENDENCE"> &nbsp; &nbsp; INDEPENDENCE
                                </option>
                                <option
                                    [value]="CA_LIVINGSTON"> &nbsp; &nbsp; LIVINGSTON
                                </option>
                                <option
                                    [value]="CA_MONTEREY"> &nbsp; &nbsp; MONTEREY
                                </option>
                                <option
                                    [value]="CA_PADRE"> &nbsp; &nbsp; PADRE
                                </option>
                                <option
                                    [value]="CA_PEERLESS"> &nbsp; &nbsp; PEERLESS
                                </option>
                                <option
                                    [value]="CA_PRICE"> &nbsp; &nbsp; PRICE
                                </option>
                                <option
                                    [value]="CA_NEPLUS"> &nbsp; &nbsp; NEPLUS
                                </option>
                                <option
                                    [value]="CA_RUBY"> &nbsp; &nbsp; RUBY
                                </option>
                                <option
                                    [value]="CA_SONORA"> &nbsp; &nbsp; SONORA
                                </option>
                                <option
                                    [value]="CA_SEEDLING"> &nbsp; &nbsp; SEEDLING
                                </option>
                                <option
                                    [value]="CA_SUPREIL"> &nbsp; &nbsp; SUPREIL
                                </option>
                                <option
                                    [value]="CA_TOKYO"> &nbsp; &nbsp; TOKYO
                                </option>
                                <option
                                    [value]="CA_WINTERS"> &nbsp; &nbsp; WINTERS
                                </option>
                                <option
                                    [value]="CA_WOOD_COLONY"> &nbsp; &nbsp; WOOD COLONY
                                </option>
                                <option
                                    [value]="OTHER_TYPE"> OTHER-TYPE
                                </option>
                                <option
                                    [value]="MIXED_VARIETY"> &nbsp; &nbsp; MIXED VARIETY
                                </option>
                            </select>

                        </div>

                        <div class="form-group center">

                            <select [(ngModel)]="bid.almondSize"
                                    ngControl="almondSize"
                                    type="text" class="form-control"
                                    name="size" id="size"
                                    placeholder="Select Size"
                                    style="width:31%;" required>
                                <option [value]="almondSize" disabled selected hidden> Select Size </option>
                               <option *ngFor="let size of sizes"
                                    [value]="size"> {{size}}
                                </option>
                             </select>

                        <div style="margin:10px 10px 0px -5px;">
                          <input type="checkbox" [(ngModel)]="aol" autocomplete="off" name="aol">
                          AOL
                        </div>

                            <input [(ngModel)]="bid.pricePerPound" (keypress)="disableDollarSign($event.keyIdentifier)"
                                    ngControl="pricePerPound" type="string"
                                    class="form-control" name="price" id="price"
                                    autocomplete="off"
                                    placeholder="Market Price Per Pound"
                                    required pattern="^[+-]?[0-9]{1,3}(?:,?[0-9]{3})*\.[0-9]{2}$">

                        </div>

                        <div class="form-group center">

                            <select type="text"
                                    [(ngModel)]="managementTypeSelection"
                                    ngControl="managementType" class="form-control"
                                    name="management type" id="management type"
                                    style="width:35%; color:#444444; border: 0.1px solid #959595;">
                                  <option [value]="FCFS"> Firm Bid, First Come First Serve </option>
                                  <option [value]="STFC"> Subject to Final Confirmation </option>
                            </select>

                            <input [(ngModel)]="bid.managementTypeDelay"
                                    ngControl="delay" type="number" step="1"
                                    class="form-control" name="delay"
                                    placeholder="Number of hours growers will have to respond to your bid"
                                    id="delay" autocomplete="off" required>

                      </div>

                      <div class="form-group center">
                            <input [(ngModel)]="bid.comment"
                                    ngControl="comment" type="text"
                                    class="form-control" name="comment"
                                    id="comment" autocomplete="off"
                                    placeholder="Other Details (e.g., grade, export/domestic, price to grower, etc.)"
                                    style="border: 0.1px solid #959595; width:60%;">
                      </div>

					</div>

			<!-- Choose your growers
			================================================== -->
			<div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.9s">
				<div class="center">

				<h8>CHOOSE GROWERS</h8><br>

				</div>
            <div class="col-md-12 center">
            <div class="grower-box">
            <div *ngFor="let grower of growers">
              <input class="center-growers" type="checkbox" [(ngModel)]="grower.selected" [ngModelOptions]="{standalone:true}">
              <h7>{{ grower.firstName }} {{ grower.lastName }}</h7>
            </div>
            </div>
            </div>


					<!--<div class="col-sm-8 center" style="padding-left:160px;">
						<a routerLink="/handler-home" routerLinkActive="active">
                        <button id="submit" type="cancel" class="hover-red">Cancel Bid</button></a>
					</div>-->
			</div>

            <div class="col-md-12 center">
              <button [disabled]="!newBidForm.valid" (click)="save()" name="submit" id="submit" style="padding-bottom:0px; margin-bottom:0px;"> Submit Bid </button>
              <!--<div style="background-color:#993333; color:white; text-align:center; width:300px;" *ngIf="!newBidForm.form.valid">
                You must fill out all fields before you can complete your bid!
              </div>-->
            </div>

        </form>

       </div>
	</div>
</section>
</div>
