<div class="details">

<div *ngIf="recievedSelectedHandler">

    <!--<div id="handler-info">-->

      <div class="col-md-7">
      <company class="spacetop makespace">
        {{ recievedSelectedHandler?.companyName }}
      </company>
      </div>

      <div class="col-md-12">
      <table>
        <tr>
          <td><p>
            {{ recievedSelectedHandler?.firstName }}
            {{ recievedSelectedHandler?.lastName }}
          </p></td>
          <td><p>&#9724;</p></td>
          <td><p>
               {{ recievedSelectedHandler?.phone?.phoneOne }}-{{ recievedSelectedHandler?.phone?.phoneTwo }}-{{ recievedSelectedHandler?.phone?.phoneThree }}</p></td>
          <td><p>&#9724;</p></td>
          <td><p>
            {{ recievedSelectedHandler?.email }}</p></td>
        </tr>
      </table>
      </div>


        <div class="col-md-8">
        <bidstitle>OPEN BIDS</bidstitle>
        </div>

       <div class="col-md-12">
        <div *ngFor="let bid of openTraderBids"
        class="wow fadeInDown makespace" data-wow-delay="0.6s">
        <button type="button"
                (click)="viewBid(bid?.bidId)"
                class="openbidbutton center">
          <table id="buttonCols" style="width:100%;">
            <tr>
              <td class="offerButton"><p>
                {{ bid?.almondVariety }}</p></td>
              <td class="offerButton"><p>
                {{ bid?.pricePerPound }}</p></td>
              <td class="offerButton"><p>
                {{ bid?.almondPounds | number }}</p></td>
              <td class="offerButton"><p>
                {{ bid?.countDownString }}</p></td>
            </tr>
            <!--<tr> <p>{{ bid.comment }} </p></tr>-->
          </table>
        </button>
        </div>
       </div>


        <div class="col-md-8 closedspace">
        <bidstitle>CLOSED BIDS</bidstitle>
        </div>

       <div class="col-md-12">
        <div *ngFor="let bid of closedTraderBids"
        class="wow fadeInDown makespace" data-wow-delay="0.6s">
        <button type="button"
                (click)="viewBid(bid?.bidId)"
                class="closedbidbutton center">
          <table id="buttonCols" style="width:100%;">
            <tr>
              <td class="offerButton"><p>
                {{ bid?.almondVariety }}</p></td>
              <td class="offerButton"><p>
                {{ bid?.pricePerPound }}</p></td>
              <td class="offerButton"><p>
                {{ bid?.almondPounds | number }}</p></td>
              <td class="offerButton"><p>
                {{ bid?.dateCreated | date:"MM/dd/yy"  }}</p></td>
              <td class="offerButton"><p>
                {{ bid?.getBidResponse(bid, recievedSelectedHandler.handlerId)?.getResponseStatusTrader() }}</p></td>
            </tr>
            <!--<tr> <p>{{ bid.comment }} </p></tr>-->
          </table>
        </button>
        </div>
       </div>

</div>
</div>