<section class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Handler Login']">Agrity</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right main-navigation">
        <li><a [routerLink]="['Home']" class="smoothScroll">HOME</a></li>
        <li><a [routerLink]="['View Bids']" class="smoothScroll">BIDS</a></li>
        <li><a [routerLink]="['NewGrower']" class="smoothScroll">ADD GROWER</a></li>
        <li><a *ngIf="handler == null" [routerLink]="['Handler Login']" class="smoothScroll">LOGIN</a>
            <a *ngIf="handler !== null" [routerLink]="['Handler Login']" class="smoothScroll"> {{ handler.company_name }}</a>
        </li>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</section>
