<!-- Profile Pic and Cover Photo
====================================================-->
<section class="picSection">
	<div class="resizeImage">
		<img src="assets/img/farmer3.jpg" onError="this.onerror=null;this.src='images/profile-icon.jpg';">
	</div>
		<h1>Alan Jensen</h1>

	<!-- </div> -->
</section>

<!-- Profile section
================================================== -->
<section id="testimonial" class="parallax-section">
	<div class="container">
		<div class="row">
			<h2>About Alan Jensen</h2>
							
			<table>
				<tr>	
					<td><h3><u>Phone Number</u></h3></td>
					<td><h3><u>Email</u></h3></td>
					<td><h3><u>Acreage</u></h3></td>
					<td><h3><u>Almond Varieties</u></h3></td>
				</tr>
				<tr>
					<td><b>(213) 268-0235</b></td>
					<td><b>larsenj@stanford.edu</b></td>
					<td><b>300 Acres</b></td>
					<td><b>60% Nonpareil<br>30% Carmel<br>10% Butte Padre</b></td>
				</tr>
			</table>
			
			<div class="Bio">
				<p>High quality grower. Supplies clean product year after year. Requires weekly interaction on current bids.</p>
			</div>
		</div>
	</div>
</section>
