<!-- Profile Pic and Cover Photo
====================================================-->
<section class="picSection">
	<div class="resizeImage">
		<img src="assets/img/farmer3.jpg" onError="this.onerror=null;this.src='images/profile-icon.jpg';">
	</div>
		<h1 *ngFor="let grower of growers">{{ grower.first_name }} {{ grower.last_name }}</h1>

	<!-- </div> -->
</section>

<!-- Profile section
================================================== -->
<section id="testimonial" class="parallax-section">
	<div class="container">
		<div class="row">
			<h2 *ngFor="let grower of growers">About {{ grower.first_name }} {{ grower.last_name }}</h2>
							
			<table>
				<tr>	
					<td><h8><u>Phone Number</u></h8></td>
					<td><h8><u>E-Mail</u></h8></td>
					<td><h8><u>Acreage</u></h8></td>
					<td><h8><u>Almond Varieties</u></h8></td>
				</tr>
				<tr *ngFor="let grower of growers">
					<td><b>{{ grower.phone }}</b></td>
					<td><b>{{ grower.email }}</b></td>
					<td><b>-- Under Construction</b></td>
					<td><b>-- Under Construction --</b></td>
				</tr>
			</table>
			
			<div class="Bio">
				<p>-- Under Construction --</p>
			</div>
		</div>
	</div>
</section>
