/*

Fayyaz Mukarram

/* Body 
------------------------------------- */
/*body {
		background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
}*/

html,body {
      width: 100%;
     overflow-x: hidden;
  }

.post-masonry img {
    width: 100%;
    display: block;
}

/* Typography
------------------------------------- */
h1,h2,h3,h4,h5 {
  font-weight: bold;
}

h1 {
  font-size: 65px;
  line-height: 72px;
  color: #ffffff;
  text-shadow: -0.5px 0 #303030, 0 0.5px #303030, 0.5px 0 #303030, 0 -0.5px #303030;

}

h2 {
  color: #323232;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-bottom: 12px;
}

h3 {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 26px;
  letter-spacing: 2px;
  /*text-shadow: 1px rgba(0,0,0,0.5) #ffffff;*/
  text-shadow: -0.5px 0 #303030, 0 0.5px #303030, 0.5px 0 #303030, 0 -0.5px #303030;
}

h5 {
  color: #ffa400;
  line-height: 28px;
  letter-spacing: 2px;
}

h6 {
  color:#ffffff;
  font-size: 28px;
  letter-spacing: 28px;
  letter-spacing: 2px;
  padding-bottom: 5px;
/*  padding: 0 0 10px 175px;
*/}

h7 {
  color: #323232;
  font-size: 18px;
  padding-left: 15px;
  letter-spacing: 26px;
  letter-spacing: 2px;
  text-shadow: 1px rgba(0,0,0,0.5) #ffffff;
}

h8 {
  color: #323232;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

h9 {
  color:#ffffff;
  font-size: 30px;
  letter-spacing: 28px;
  letter-spacing: 2px;
  padding: 0 0 50px 160px;
}

h10 {
  color:#ffffff;
  font-size:14px;
}

h11 {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  line-height: 42px;
  letter-spacing: 1px;
  padding-left: 20px;
  text-shadow: 1px 1px 10px #333333;
  
}

p {
  font-size: 16px;
  letter-spacing: 0.9px;
  line-height: 32px;
  color: #ffffff;
}

p1 {
  font-size: 14px;
  letter-spacing: 0.9px;
  line-height: 32px;
  color: #323232;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}



/* All Section styles
------------------------------------- */
#testimonial, #blog, #counter, #contact {
   	padding-top: 120px;
  	padding-bottom: 120px;
}

#about h3 {
  	padding-bottom: 12px;
}

.parallax-section {
  	background-attachment: fixed !important;
  	background-size: cover !important;
    margin: 0 auto;
}

.hover-item {
  background-color: #a70000;
}

.hover-item:hover {
  background-color:#a70000;
}


/* navigation styles
/* ========================================== */
.navbar-default {
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    margin: 0 !important;
  }
.navbar-default .navbar-brand {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  }
.navbar-default li {
  margin: 15px 20px;
}
.navbar-default .navbar-nav li a {
    color: #303030;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
  }
.navbar-default .navbar-nav li a:hover {
    color: #ffa400;
  }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #303030;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffa400;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 12px;
  }
.navbar-default .navbar-toggle .icon-bar {
    background: #ffa400;
    border-color: transparent;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}



/* home section styles
/* ========================================== */
#home {
  background: url('assets/img/almonds.jpg') 100% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

#home .btn-danger {
  background: #ffa400 !important;
  margin-right: 20px;
}

#home .btn-danger:hover {
  background: #ffc400 !important;
}

#home .btn {
  background: #000000;
  border-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 52px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: #ffa400;
}


/* profile styles
/* ========================================== */
#testimonial .item {
  text-align:left;
  display: block;
  width: 100%;
  padding-bottom: 62px;
}

#testimonial .item img {
  display: inline-block;
}

#profile {
  height:100px;
  width: 100px;
  border-radius: 100px;
}

/* about section styles
/* ========================================== */
#about .container {
  	width: 100%;
  	padding: 0px;
  	margin: 0 auto;
}

#about .col-md-6 {
	padding: 0;
}

#about .about-des {
  	padding: 65px;
}

#about .about-des h3 {
	font-size: 26px;
}

#about .about-des h4 {
	font-size: 20px;
}

#about .about-des p {
	font-size: 16px;
	line-height: 32px;
}


/* blog section styles
/* ========================================== */
#blog h2, #blog h4 {
  text-align: center;
}

#blog h2 {
  padding-bottom: 12px;
  font-size: 32px;
}

#blog h4 {
  padding-bottom: 32px;
  letter-spacing: 0.9px;
}

#blog p {
	padding-top: 10px;
	font-size: 14px;
	line-height: 28px;
}

#blog .blog-wrapper {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog .blog-wrapper h3 a {
  color: #000000;
}



/* make bids section styles
/* ========================================== */

  #myimage {
    width:30px;
    height:30px;
    border-radius: 30px;
    vertical-align: middle;
  }

  table#buttonCols, td{
    color:white;
    border-collapse: collapse;
    border-spacing:100px;
    padding:5px;
    table-layout:fixed;
  }

  td.offerButton{
    color:white;
  }

  td.pic, .name{
    text-align:left;
  }
  td.name{
    text-align:left;
  }
  td.state{
    text-align:right;
  }

  table td1 {
    width: 500px;
  }

/* login section styles
/* ========================================== */
#login {
  background: url('assets/img/counter-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

#login .form-control {
  background: rgba(250,250,250,0.20);
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 22px;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  height: auto;
}

#login input[type="submit"] {
  background: #000000;
  outline: #ffffff;
  color:#ffffff;
  position: center;
  padding-left: 10px;
  border:none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 5px;
}

#login input[type="submit"]:hover {
  background: #ffa400;
}

#login input[type="cancel"] {
  background: #000000;
  color:#ffffff;
  padding-left: 10px;
  position:center;
  padding-left: 80px;
  border:none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 5px;
}

#login input[type="cancel"]:hover {
  background: #a70000;
}

.form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ffffff;
}
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

#login .login-detail {
  background: rgba(250,250,250,0.75);
  padding: 34px 10px 34px 60px;
}

#login .login-detail h8 {
  padding-bottom: 28px;
}

#contact .login-detail div {
  padding-bottom: 10px;
}

/* Data collection styles
/* ========================================== */
#counter {
   background: url('../images/counter-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

#counter .counter-number {
  color: #ffa400;
  font-size: 32px;
}

#counter .counter-text {
  color: #ffffff;
  letter-spacing: 2px;
}


/* make bid section styles
/* ========================================== */
#contact {
  background: url('assets/img/newgrower.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

#contact .form-control {
  background: rgba(250,250,250,0.3);
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 22px;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  height: auto;
}

#contact input[type="submit"] {
  background: #000000;
  color:#ffffff;
  position: center;
  padding-left: 10px;
  border:none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  width: 300px;
  margin-top: 5px;
}

#contact input[type="submit"]:hover {
  background: #ffa400;
}

#contact input[type="cancel"] {
  background: #000000;
  color:#ffffff;
  padding-left: 80px;
  position:right;
  align-content: right;
  border:none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 5px;
}

#contact input[type="cancel"]:hover {
  background: #a70000;
}

.form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ffffff;
}
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

#contact .contact-detail {
  background: rgba(250,250,250,0.75);
  padding: 34px 0px 34px 60px;
}

#contact .contact-detail h8 {
  padding-bottom: 20px;
}

#contact .contact-detail div {
  padding-bottom: 10px;
}


/* payment date section styles
/* ========================================== */

#contact .form-control1 {
  background: rgba(250,250,250,0.3);
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 22px;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  height: auto;
}

.form-control1::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.form-control1:-ms-input-placeholder {
  color: #ffffff;
}
.form-control1::-webkit-input-placeholder {
  color: #ffffff;
}

.payment {
  display:inline-block;
>>>>>>> master
}

/* payment date section styles
/* ========================================== */
#contact .form-control1 {
  background: rgba(250,250,250,0.3);
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 5px;
  margin-right:10px;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  height: auto;
}

.form-control1::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.form-control1:-ms-input-placeholder {
  color: #ffffff;
}
.form-control1::-webkit-input-placeholder {
  color: #ffffff;
}

.payment {
  display:inline-block;
}

/* view bids section styles
/* ========================================== */

#sortable { 
  list-style-type: none; 
  margin: 0; 
  padding-left: 150; 
  width: 95%; 
  position: center;
}
  
#sortable li { 
  margin: 0 3px 3px 3px; 
  padding: 0.4em; 
  padding-left: 1.5em; 
  font-size: 1.4em; 
  height: 200px; 
}
  
#sortable li span { 
  position: absolute; 
  margin-left: -1.3em;
} 

  #myimage {
    width:100px;
    height:100px;
    border-radius: 100px;
    vertical-align:middle;
  }

  table#buttonCols, td{
    color:white;
    border-collapse: collapse;
    border-spacing:100px;
    padding:5px;
    table-layout:fixed;
  }

  td.offerButton{
    color:white;
  }

  td.pic{
    text-align:left;
  }
  td.name{
    text-align:center;
  }
  td.state{
    text-align:right;
  }

  #createBid {
    float:right;
    margin-right:10%;
    margin-top:7px;

    background-color:#ffa400;
    text-decoration: none;
    outline:red;
    border:none;
    box-shadow:none;

    -webkit-transition:background-color 1s;
    transition:background-color 1s;
  }
  #createBid:hover {
    background-color:#cc8500;
  }

  #buttonA, #buttonR, #buttonP, #buttonC {
    text-decoration: none;
    outline:red;
    border:none;
    box-shadow:none;
    width:70%; 
    margin-left:100px;
    font-size: 150%;
  }

  #buttonA {
    background-color: hsla(120, 60%, 50%, 0.9);
  }
  #buttonA:hover {
    background-color: hsla(120, 60%, 40%, 0.9);
  }

  #buttonR {
    background-color: hsla(0, 60%, 50%, 0.9);
  }
  #buttonR:hover {
    background-color: hsla(0, 60%, 40%, 0.9);
  }

  #buttonP {
    background-color: hsla(0, 0%, 50%, 0.9); 
  }
  #buttonP:hover {
    background-color: hsla(0, 0%, 40%, 0.9);
  }

  #buttonC {
    background-color: hsla(234, 78%, 52%, 0.9); 
  }
  #buttonC:hover {
    background-color: hsla(234, 78%, 52%, 0.9);
  }
      
/* footer section styles
/* ========================================== */
footer {
  padding-top: 80px;
  padding-bottom: 50px;
}

footer p {
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 14px;
}

footer a {
  color: #606060;
}

footer a:hover {
  color: #ffa400;
  text-decoration: none;
}

.link-list a {
  color: #606060;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  background: #3c3c3c;
  border-radius: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-right: 2px;
}
.social-icon li a:hover {
  background: #ffa400;
}



@media (max-width: 1280px) {
	#about .about-des {
		padding: 40px;
	}
	#about .about-des h3 {
		font-size: 20px;
	}
	
	#about .about-des h4 {
		font-size: 16px;
	}
	
	#about .about-des p {
		font-size: 13px;
		line-height: 24px;
	}
}
/* mobile responsive section styles
/* ========================================== */
@media (max-width: 768px) {
  h1 {
    font-size: 53px;
  }
  #counter .counter-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}

@media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 28px;
    line-height: 38px;
  }
  #home h5 {
    font-size: 11px;
  }
  #home .btn {
    display: inline-block;
    padding: 14px 32px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 24px;
    line-height: 34px;
  }
  #home h5 {
    font-size: 9px;
  }
}
