.details {
    float:right;
    width:70%
}

.spacetop {
    padding:50px 0px 0px 250px;
}

.commentbox {
    padding: 10px 0px 10px 0px;
}

h1 {
    font-size: 25px;
    color: #565656;
    text-shadow: none;
}

p {
	font-size: 16px;
	letter-spacing: 0.9px;
	line-height: 32px;
    color: #000000;
    cursor: pointer;
}

comment {
	font-size: 12px;
	letter-spacing: 0.9px;
	line-height: 20px;
    color: #000000;
}

.details {
    background-color:#efefef;
    width:100%;
    height:auto;
    min-height: 600px;
    padding-bottom:30px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.listbidbutton {
	width: 80%;
	height: 80px;
	font-size: 1em;
  color:#000000;
	text-align: left;
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #ffa400;
}

.closebidbutton {
    width:10%;
    height:25px;
	font-size: 0.7em;
    color:#000000;
    text-align:center;
    vertical-align: middle;
    background-color: white;
    border-radius:4px;
    border: 1px solid #Bf4f4f;
    float:right;
}

.right {
    margin: 50px 130px 0 0;
}

.center-responses {
	align-items: top;
	justify-content: top;
    display:flex;
    margin-left:50px;
}

.accepted {
    background-color:rgba(61,184,55,0.30);
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding:5px;
    margin:5px;
}


.rejected {
    background-color:rgba(184,79,55,0.30);
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding:5px;
    margin:5px;
}

.pending {
    background-color:rgba(55,134,184,0.30);
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding:5px;
    margin:5px;
}

li {
    padding-left:10px;
}

.comment-back {
    background-color: #ffffff;
    border: 1px solid #979797;
    width: 80%;
    height: auto;
}

.comment-button {
    background-color: #ffffff;
    border: 1px solid #979797;
    height:auto;
    width: 70%;
}

/* HANDLER Table Styles
------------------------------------- */

.table-border {
    border: 0.5px solid #959595;
    width: 90%;
}

th {
    border: 0.1px solid #959595;
    height: auto;
    float: middle;
}

.table-lines {
    border:0.1px solid #959595;
    padding:10px 8px 0px 8px;
    display:flex;
    vertical-align: middle;
}

.add-handlers {
    width:100%;
    height:35px;
	font-size: 0.7em;
    color:white;
    background-color: #419ed2;
    border-radius:4px;
    border: 0.1px solid #000000;
    letter-spacing: 3px;
}

.add-handlers span {
    left:0;
    background-color: #419ed2;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid  rgba(0,0,0,0.15);
}

.pending-handler {
    font: 20px Gotham Medium, sans-serif;
    color: #3d85ad;
}

.accepted-handler {
    font: 20px Gotham Medium, sans-serif;
    color: #298959;
}

.rejected-handler {
    font: 20px Gotham Medium, sans-serif;
    color: #9a2620;
}

.no-response-handler {
    font: 16px Gotham Medium, sans-serif;
    color: #808080;
}

.disapproved-handler {
    font: 20px Gotham Medium, sans-serif;
    color: #000000;
}

.handler-title {
    font: 25px Gotham Bold, sans-serif;
    color: #565656;
    letter-spacing: 5px;
    padding: 20px 0 5px 60px;
}

.accept-partial {
    background-color: #3193ce;
    color: white;
    border-radius:4px;
    border: 0.1px solid #3193ce;
    font-size:0.4em;
    height:30px;
    padding:5px;
    vertical-align: middle;
}

.accept-button {
    background-color: #45af5b;
    color: white;
    border-radius:4px;
    border: 0px solid #45af5b;
    font-size:0.4em;
    height:30px;
    padding:5px;
    vertical-align: middle;
}

.reject-button {
    background-color: #d44040;
    color: white;
    border-radius:4px;
    border: 0px solid #d44040;
    font-size:0.4em;
    height:30px;
    padding:5px;
    vertical-align: middle;
}

input {
    width:15%;
    height:25px;
    color:#000000;
    font-size:0.8em;
    margin-right:10px;
}

.separate {
    margin-right:10px;
    vertical-align:middle;
}

.send-handlers-button {
    width:auto;
    background-color:#45af5b;
    border-radius:4px;
    color:white;
    border: 0px solid #ffffff;
    font: 15px Gotham Book, sans-serif;
    padding: 7px;
}

.format-checkbox {
	display: table;
	align-items: center;
	justify-content: center;
    float:middle;
    padding-left:400px;
}

.back-box {
    background-color:white;
    border: 1px solid #419ed2;
    height: auto;
    width: 100%;
    margin: 10px 0px 10px 200px;
    padding:10px;
}



