  body {
    background-image:url("assets/img/viewbidpic.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    width:100%;
    height:100%;
    background-size:cover;
  }

  footer {
    padding-top:80px;
    background-color:white;
    background-size:100% 100%;
  }

  button {
    margin-bottom:10px; 
    border: 1px solid #ffa400;
    border-radius: 8px;
    background-color: white;
    width:90%; 
    height:50px; 
    font-size:1.5em; 
    text-align:left; 
    padding-bottom:10px;
    height:auto;
  }

  .grower-catagory{
    color: white;
    background-color: #5bc0de;
    border-color: #46b8da;
    text-align:left; 
  }

  p {
    color: #444444;
  }
