<body>
<!-- Bids section
================================================== -->

<div style="position:relative;">
	<div class="container" style="padding-top:70px;">
	<h2 style="padding:0px 0px 0px 20px;">
		<div class="wow fadeInUp" data-wow-delay="0.3s">
			<a type="button" class="btn btn-info" id="createBid" routerLink="/new-bid" routerLinkActive="active">
			  Create New Bid
			</a>
		</div>
		Current Bids
	</h2>

	  <!--*ngFor="let bid of openBids and *ngFor="let bid of closed Bids -->
	  <div *ngFor="let bid of openBids" class="wow fadeInDown center" data-wow-delay="0.3s">
	  <button (click)="viewBid(bid.bidId)" type="button">
	  	<table id="buttonCols" style="width:100%">
		<tr>
		    <td class="offerButton" style="width:100px;">ID: {{ bid.bidId }}</td>
		    <td class="offerButton" style="width:200px;">{{ bid?.poundsRemaining | number }} of {{ bid?.almondPounds | number }} <br> pounds remaining</td>
	  		<td class="offerButton">{{ bid.almondVariety }}</td>
	  		<td class="offerButton">Size: {{ bid.almondSize }}</td>
	  		<td class="offerButton">Market Price: {{ bid.pricePerPound }}</td>
	  		<td class="offerButton">{{ bid?.countDownString }}</td>
	  	</tr>
		</table>
	  	</button>
	 </div>

	 <h2 style="padding-left:20px">Closed Bids</h2>
		<div *ngFor="let bid of closedBids" class="wow fadeInDown" data-wow-delay="0.3s">
	  	  <button [ngClass]="{ 'accepted': isAccepted(bid), 'partial': isPartial(bid), 'rejected': isRejected(bid) }" (click)="viewBid(bid.bidId)" style="width:90%; height:85px; font-size:2em; text-align:left; padding-left:50px; margin-bottom:10px;" type="button" class="btn btn-info">
	  	  <table id="buttonCols" style="width:100%">
		  <tr>
		    <td style="color:white; width:100px;" class="offerButton">ID: {{ bid.bidId }}</td>
		    <td style="color:white;" class="offerButton">Pounds: {{ bid.almondPounds | number }}</td>
	  		<td style="color:white;" class="offerButton">{{ bid.almondVariety }}</td>
	  		<td style="color:white;" class="offerButton">Size: {{ bid.almondSize }}</td>
	  		<td style="color:white;" class="offerButton">Market Price: {{ bid.pricePerPound }}</td>
	  		<td style="color:white;" class="offerButton">{{ bid?.countDownString }}</td>
	  	  </tr>
		  <!--<tr>{{ bid.comment }}</tr>-->
		  </table>
	  	  </button>
	   </div>
	  </div>
	</div>

</body>
