<body>
<!-- Bids section
================================================== -->

<div style="position:relative;">
	<div class="container" style="padding-top:70px;">
	<h2 style="color:white; padding:0px 0px 0px 20px; text-shadow: 0.5px 0.5px #333333;"><font size="+3"></font>
		<div class="wow fadeInUp" data-wow-delay="0.3s">
			<a type="button" class="btn btn-info" id="createBid" routerLink="/new-bid" routerLinkActive="active">
			  Create New Bid
			</a>
		</div>
		Current Bids
	</h2>

	  <!--*ngFor="let bid of openBids and *ngFor="let bid of closed Bids -->
	  <div *ngFor="let bid of openBids" class="wow fadeInDown" data-wow-delay="0.3s">
	  <button (click)="viewBid(bid.bidId)" style="width:90%; height:100px; font-size:2.5em; text-align:left; padding-left:50px; margin-bottom:10px;" type="button" class="btn btn-info">
	  	<table id="buttonCols" style="width:100%">
		<tr>
	  		<td class="offerButton">{{ bid.almondVariety }}</td>
	  		<td class="offerButton">Size: {{ bid.almondSize }}</td>
	  		<td class="offerButton">Pounds: {{ bid.almondPounds }}</td>
	  		<td class="offerButton">Price: {{ bid.pricePerPound }}</td>
	  		<td class="offerButton">{{ bid?.countDownString }}</td>
	  	</tr>
		  <!--<tr>{{ bid.comment }}</tr>-->
		</table>
	  	</button>
	 </div>

	 <h11>Closed Bids</h11>
		<div *ngFor="let bid of closedBids" class="wow fadeInDown" data-wow-delay="0.3s">
	  	  <button [ngClass]="{ 'accepted': isAccepted(bid), 'partial': isPartial(bid), 'rejected': isRejected(bid) }" (click)="viewBid(bid.bidId)" style="width:90%; height:85px; font-size:2em; text-align:left; padding-left:50px; margin-bottom:10px;" type="button" class="btn btn-info">
	  	  <table id="buttonCols" style="width:100%">
		  <tr>
	  		<td class="offerButton">{{ bid.almondVariety }}</td>
	  		<td class="offerButton">Size: {{ bid.almondSize }}</td>
	  		<td class="offerButton">Pounds: {{ bid.almondPounds }}</td>
	  		<td class="offerButton">Price: {{ bid.pricePerPound }}</td>
	  		<td class="offerButton">{{ bid?.countDownString }}</td>
	  	  </tr>
		  <!--<tr>{{ bid.comment }}</tr>-->
		  </table>
	  	  </button>
	   </div>
	  </div>
	</div>

</body>
