
<!-- SIDE BAR CODE STARTS ------------------------------------>
<div id="side-bar">
  
  <div id="create-bid">
    
    <!-- Currently we don't have a make traderBid button, so this links
         to the handler create bid page for now. --> 
    <button type="button" id="create-bid-button" [routerLink]="['Make Bid']">
      Create New Bid
    </button>

  </div>

  <!-- To Design Man: I copied your table and list formats from the previous 
                      bid components. 
                      Feel free to change anything as you see fit. -->
  <div id="open-bids">
    <h1> Open Bids </h1>
    <div *ngFor="let bid of openTraderBids">
      <button (click)="selectBid(bid)" type="button">
        <table>
         <tr>
            <!--TO Design Man: These are all the properties
                so you can pick which you want to display
                in the sidebar.-->
            <td>{{ bid?.almondVariety }}</td>
            <td>{{ bid?.almondPounds }}</td>
            <td>{{ bid?.pricePerPound }}</td> 
            <!--countDownString is a countdown string that 
                will display time remaining until bid expires.
                It updates every second.
                If no time remains it returns "Offer Closed" -->
            <td>{{ bid?.countDownString }}</td>
          </tr>
        </table>
      </button>
    </div>
  </div>

  <div id="closed-bids">
    <h1> Closed Bids </h1>
    <div *ngFor="let bid of closedTraderBids">
      <button (click)="selectBid(bid)" type="button">
        <table>
         <tr>
            <td>{{ bid?.almondVariety }}</td>
            <td>{{ bid?.almondPounds }}</td>
            <td>{{ bid?.pricePerPound }}</td> 
            <td>{{ bid?.countDownString }}</td>
            <!--TO Design Man: Here are three methods that can be called with a closed bid.
                we used them for styling the other bidslist page. You may find them usefull. 
                isPartial(bid) will return true if the bid was partially accepted before closing.
                isAccepted(bid) will return true if the bid was accepted in full.
                isRejected(bid) will return true if the bid was neither partially or fully accepted before closing. -->
            <td>{{ isPartial(bid) }} {{ isAccepted(bid) }} {{ isRejected(bid) }}</td>


          </tr>
        </table>
      </button>
    </div>
  </div>

</div>
<!-- SIDE BAR CODE ENDS HERE ------------------------------------>

<!-- DETAIL AREA WHEN BID IS CLICKED ON SIDEBAR CODE STARTS HERE-->
<div id="detail">
  
  <div *ngIf="selectedBid">
    
    <div id="bid-info">
    <!-- Currently white on white, so you can't see it before styling,
         but this is the information you have to work with. --> 
        <table>
          <tr>
            <td>{{ selectedBid?.almondVariety }}</td>
            <td>{{ selectedBid?.almondPounds }}</td>
            <td>{{ selectedBid?.pricePerPound }}</td> 
            <td>{{ selectedBid?.countDownString }}</td>
            <td>{{ isPartial(bid) }} {{ isAccepted(bid) }} {{ isRejected(bid) }}</td>
          </tr>
        </table>
    </div>

    <div id="handler-responses">
      
      <div id="accepted-handlers"> 
        Accepted Handlers
        <button *ngFor="let handler of selectedBid?.acceptedHandlerSellers" type="button" (click)="viewHandler(handler?.handlerId)">
          <li>
            <p >{{ handler?.firstName }} 
                {{ handler?.lastName }}
                {{ handler?.email }} 
                {{ handler?.phone.getAsString()}}
            </p>
          </li>
        </button>
      </div>      

      <div id="rejected-handlers">
        Rejected Handlers
        <button *ngFor="let handler of selectedBid?.rejectedHandlerSellers" type="button" (click)="viewHandler(handler?.handlerId)">
          <li>
            <p >{{ handler?.firstName }} 
                {{ handler?.lastName }}
                {{ handler?.email }} 
                {{ handler?.phone.getAsString()}}
            </p>
          </li>
        </button>
      </div>

      <div id="no-response-handlers">
        No Response Handlers
        <button *ngFor="let handler of selectedBid?.noResponseHandlerSellers" type="button" (click)="viewHandler(handler?.handlerId)">
          <li>
            <p >{{ handler?.firstName }} 
                {{ handler?.lastName }}
                {{ handler?.email }} 
                {{ handler?.phone.getAsString()}}
            </p>
          </li>
        </button>
      </div>

    </div>

</div>
<!-- DETAIL AREA WHEN BID IS CLICKED ON SIDEBAR CODE ENDS HERE-->


















