  <div id="create-bid">

    <!-- Currently we don't have a make traderBid button, so this doesn't
         link to anything. -->
    <button type="button" id="create-bid-button">
      Create New Bid
    </button>

  </div>

  <!-- To Design Man: I copied your table and list formats from the previous
                      bid components.
                      Feel free to change anything as you see fit. -->
  <div class="sidebar-color col-md-3">

    <div class="lineup">
      <h1 class="spacetop center"> OPEN BIDS

			<a routerLink="/new-traderbid" routerLinkActive="active" style="border:none; background:none; padding:none;" type="button">
        <div class="cssCircle plusSign">
			  &#43;
        </div>
			</a>
      </h1>
    </div>

  <div id="open-bids">
    <div *ngFor="let bid of recievedOpenTraderBids">
      <!--<button (click)="selectBid(bid)" type="button">-->
        <table>
        <tbody>
         <tr (click)="selectBid(bid)">
            <!--TO Design Man: These are all the properties
                so you can pick which you want to display
                in the sidebar.-->
            <td><p1>{{ bid?.almondVariety }}</p1></td>
            <td><p1>{{ bid?.pricePerPound }}</p1></td>
            <!--countDownString is a countdown string that
                will display time remaining until bid expires.
                It updates every second.
                If no time remains it returns "Offer Closed" -->
            <td><p1>{{ bid?.countDownString }}</p1></td>
          </tr>
        </tbody>
        </table>
      <!--</button>-->
    </div>
  </div>

  <div id="closed-bids">
    <h2 class="center"> CLOSED BIDS </h2>
    <div *ngFor="let bid of recievedClosedTraderBids">
      <!--<button (click)="selectBid(bid)" type="button">-->
        <table style="border-top:1px solid #1f1f1f">
          <tbody>
         <tr (click)="selectBid(bid)">
            <td style="float:left"><p2>{{ bid?.almondVariety }}</p2></td>

            <td style="padding-left:30px; float:right;"><p2>{{ bid?.pricePerPound }}</p2></td>

            <td style="float:right;"><p2>{{ bid?.countDownString }}</p2></td>
            <!--TO Design Man: Here are three methods that can be called with a closed bid.
                we used them for styling the other bidslist page. You may find them usefull.
                isPartial(bid) will return true if the bid was partially accepted before closing.
                isAccepted(bid) will return true if the bid was accepted in full.
                isRejected(bid) will return true if the bid was neither partially or fully accepted before closing. -->
            <!--<td><p1>{{ isPartial(bid) }} {{ isAccepted(bid) }} {{ isRejected(bid) }}</p1></td>-->
          </tr>
          </tbody>
        </table>
      <!--</button>-->
    </div>
  </div>
  </div>